.login {
    padding: 150px 500px;
}

.card-header-login {
    background: #005699;
    color: white;
    text-align: center;
}

h4 {
    font-weight: 300;
}

.card-footer {
    background-color: #28a745;
    border-color: #28a745;
}